
<!-- ************ Roberto & Angel's work *****************-->
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head> <p>
  <body>
    {% block content %}
    <h1>Choose a picture to get information about it.</h1>
    <a href="/play/{{id1}}">
      <img src="/static/{{id1}}.jpg" width="200" class="img-responsive img-rounded"></a>
      <a href = "/play/{{id1}}">Play {{title1}} sounds</a>

      <form action="/play" method="post">
          <button type="submit" value="Send"> Play Image </button>
      </form>

      <hr>
    <a href="/play/{{id2}}">
      <img src="/static/{{id2}}.jpg" width="200" class="img-responsive img-rounded"></a>
      <a href = "/play/{{id2}}">Play {{title2}} sounds</a>
      <hr>
    <a href="/play/{{id3}}">
      <img src="/static/{{id3}}.jpg" width="200" class="img-responsive img-rounded"></a>
      <a href = "/play/{{id3}}">Play {{title3}} sounds</a>
    <!-- <a href="/play/"> press here</a> -->
    <!-- <form action="/play" method="post">
        <button type="submit" value="Send"> Play Image </button> -->
    <!-- </form> -->

      <hr>

      {% endblock %}
  </body>
</html>
