<!--
This code takes the information from homework4.py and opens 3 random images onto a website.
It displays the play that are surrounded by bootstrap and are hyperlinked to the play html.
There's also a text hyperlink that does the exact same thing as what the picture link does -->

<!-- ************ Roberto & Angel's work *****************-->
<html>
  <head>
    <meta charset="utf-8">
    <style>
    body{background-color: #922B21;
      text-align: center;
      font-family: cursive;
    }
    footer{
      font-size: 8pt;
      color:red;
    }
    h1{
      text-shadow: 2px 2px green;
    }
    a:hover{
      color:green;
    }
    a{
      color:darkgreen;
    }
    header{
      font-size: 32pt;
      color: darkorange; 
    }
    </style>
    <title>HOME</title>
    <header>PictoWave</header>
  </head> <p>
  <body>
    {% block content %}
    <h1>Choose an image and see what mysterious sound it will show!</h1>

    <a href="/play/{{id1}}">
      <img src="/static/{{id1}}.jpg" width="200" class="img-responsive img-rounded"></a><br>
      <a href = "/play/{{id1}}">Play {{title1}} sounds</a>
      <hr>
    <a href="/play/{{id2}}">
      <img src="/static/{{id2}}.jpg" width="200" class="img-responsive img-rounded"></a><br>
      <a href = "/play/{{id2}}">Play {{title2}} sounds</a>
      <hr>
    <a href="/play/{{id3}}">
      <img src="/static/{{id3}}.jpg" width="200" class="img-responsive img-rounded"></a><br>
      <a href = "/play/{{id3}}">Play {{title3}} sounds</a>
      <hr>

      {% endblock %}
  </body>
  <footer>
    CST205 Final Project<br>
    Creators: Angel Ortiz, Roberto Bradley, Mac Cooper, Edith Gonzalez
  </footer>

</html>
