<!-- ************ Roberto & Angel's work *****************-->
<!-- NEEDS WORK-->
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head> <p>
  <body>
    {% block content %}
    <div class="container">
      <h1>"{{title1}}"</h1>
      <image class ="img-rounded img-responsive" src="{{url_for('static', id1 + '.jpg')}}" alt ="{{'title1'}}"
      <a href = "/home"> Return to image list</a>
    </div> -->
    <!-- <a href="/play/"> press here</a>
    <form action="/play/" method="post">
        <button type="submit" value="Send"> Play Image </button>
    </form>
      {% endblock %}
  </body>
</html>
